* {
    margin: 0;
    padding: 0;
}

.home-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

.header-text {
    margin-top: 5%;
    width: 30%;
}

